@model ProductShowCase1.Models.Classes.Dealers
@{
    ViewBag.Title = "DealersAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Bayi Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.DealersName)
    @Html.TextBoxFor(x => x.DealersName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersOwner)
    @Html.TextBoxFor(x => x.DealersOwner, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersNumber)
    @Html.TextBoxFor(x => x.DealersNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersCity)
    @Html.DropDownListFor(x => x.DealersCity, (List<SelectListItem>)ViewBag.vle1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersAdress)
    @Html.TextBoxFor(x => x.DealersAdress, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>