@model ProductShowCase1.Models.Classes.Dealers
@{
    ViewBag.Title = "DealersBring";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DealersBring</h2>

@using (Html.BeginForm("DealersUpdate", "Dealers", FormMethod.Post))
{

    @Html.HiddenFor(x => x.DealersID)
    @Html.LabelFor(x => x.DealersName)
    @Html.TextBoxFor(x => x.DealersName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersOwner)
    @Html.TextBoxFor(x => x.DealersOwner, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersNumber)
    @Html.TextBoxFor(x => x.DealersNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersCity)
    @Html.DropDownListFor(x => x.DealersCity, (List<SelectListItem>)ViewBag.vle1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DealersAdress)
    @Html.TextAreaFor(x => x.DealersAdress, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}

