@using ProductShowCase1.Models.Classes
@model List<Dealers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bayiler</h2>
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Şirket Adı</th>
        <th>Sahibi</th>
        <th>Telefon</th>
        <th>Şehir</th>
        <th>Adres</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var k in Model)
    {
<tr>
    <td>
        @k.DealersName
    </td>
    <td>
        @k.DealersOwner
    </td>
    <td>
        @k.DealersNumber
    </td>
    <td>
        @k.DealersCity
    </td>
    <td>
        @k.DealersAdress
    </td>
    <td><a href="/Dealers/DealersBring/@k.DealersID" class="btn btn-success">Güncelle</a></td>
    <td><a href="/Dealers/DealersRemove/@k.DealersID" class="btn btn-danger">Sil</a></td>
</tr>
    }


</table>
<a href="/Dealers/DealersAdd" class="btn btn-primary">Bayi Ekle</a>
